<% layout("layouts/boilerplate.ejs") %>     
 <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= camp._id%>?_method=PATCH " method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
               <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required>
               <div class="valid-feedback">
                Looks good!
            </div>
           </div> 
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
               <input class="form-control" type="file" name="image" id="image" value="<%= camp.image %>" required>
               <div class="valid-feedback">
                Looks good!
            </div>
           </div> 

            <div class="mb-3">
                <label for="price">Price:</label>
                <div class="input-group mt-2" >
                    <span class="input-group-text">$</span>
                    <input name="campground[price]" type="text" class="form-control" placeholder="0.00" id="price" aria-label="Amount (to the nearest dollar)" value="<%= camp.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= camp.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
          
       </form>
      
       <a href="/campgrounds/<%= camp._id%>">Back to Campground</a>
    </div>
</div>
