<% layout("layouts/boilerplate.ejs") %>

<h1>All campgrounds</h1>
       
       

<a href="/campgrounds/new">Create a campground</a>
<br><br>
     <% for (let campground of campgrounds) { %>
     <div class="card">
         <div class="row">
             <div class="col-md-4">
                <% campground.images.forEach((img,index)=>{%>
                <% if(index === 0 ){%>
                 <img class="img-fluid " src="<%= img.url %>"  alt="">
                 <%}%>
                 <%})%>
             </div>
             <div class="col-md-8">
                 <div class="card-body">
                     <h4 class="card-title"><%= campground.title %> </h4>
                     <p class="card-text"><%= campground.description  %> </p>
                     <p class="card-text"><small class="text-muted"><%= campground.location  %> </small></p>
                     <a href="/campgrounds/<%= campground._id  %>" class="btn btn-primary">View <%=campground.title %> </a>
                 </div>
                 
             </div>
         </div>
     </div>
    <% } %> 


